@use '@/shared/lib/styles/mixin.scss' as *;

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: loading 1s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: loading;
  background: linear-gradient(180deg, var(--color-grey-97, #F1F6FD) 0%, #FFF 100%);
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}