@use "@/shared/lib/styles/mixin.scss" as *;

.page__body {
  position: relative;
  z-index: 2;
  margin-top: -55px;
  padding: 60px 0 100px;
  border-radius: 32px 32px 0 0;
  background: #fffdf1;
}

.page__stack {
  display: grid;
  gap: 100px;
}

@include tablet {
  .page__body {
    margin-top: -48px;
    padding-bottom: 80px;
  }

  .page__stack {
    gap: 80px;
  }
}

@include mobile {
  .page__body {
    margin-top: -40px;
    padding: 24px 0 56px;
    border-radius: 32px 32px 0 0;
  }
}
