@use '@/shared/lib/styles/mixin.scss' as *;

.service_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--color-white-solid, #fff);
  transition: all 0.3s;
  text-align: left;
  position: relative;
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 16px 0;
  }

  &:hover {
    padding: 20px 64px 20px 10px;
    background: var(--color-white-5, rgba(255, 255, 255, 0.05));
    svg{
      opacity: 1;
    }
  }

  svg{
    pointer-events: none;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
  }

  &__title {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: var(--letter-spacing--0_25, -0.25px);
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 2px;
    white-space: nowrap;
    letter-spacing: var(--letter-spacing--0_5, -0.5px);

    @include mobile {
      align-self: flex-end;
    }

    strong {
      font-size: 18px;
      font-weight: 700;
      line-height: 140%;
    }
  }

  &__from {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  &__suffix {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
  }
}
