@use "@/shared/lib/styles/mixin.scss" as *;

.hero {
  position: relative;
  padding-top: 100px;

  @include tablet {
    padding-top: 80px;
  }

  @include mobile {
    padding-top: 44px;
  }

  &__decor {
    position: absolute;
    top: -97px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 0;

    @include tablet {
      top: -112px;
      width: min(1280px, calc(100vw + 120px));
    }

    @include mobile {
      top: -164px;
      width: 390px;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }

  &__title {
    color: #eb5e28;
    font-family: var(--font-syne), sans-serif;
    font-size: 128px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -0.06em;
    text-align: center;

    @include tablet {
      font-size: 92px;
      line-height: 0.9;
    }

    @include mobile {
      font-size: 65px;
      line-height: 40px;
    }
  }
}